# ignore python cache & packages
__pycache__/
*.egg-info/

# ignore vscode configs
.vscode/

# ignore tensorboards & visualizations
runs/
visualizations/
*.pdf

# ignore training logs & weights
*.pth
outputs/

# ignore datasets softlinks
datasets/

# ignore quantizations (dropit combining with gact, mesa)
# will be released after integrating
quantizations/